MONITOR_WEBHOOK_URL=
ERROR_WEBHOOK=
WEBHOOK=
MONGO_URI=
LOGO_BOT=
MERCADO_PAGO_ACCESS_TOKEN=
THANKS_CHANNEL_URL=
TOKEN=
TERMS_URL=
DEEPL_API_KEY=
DEEPL_API_URL=
PUNISHMENT_API_URL=
PUNISHMENT_API_KEY=
SUGGESTIONS_CHANNEL=
BUG_LOG_CHANNEL=
CARGO_DOADOR_ID=
TEST_GUILD_ID=
LOG_CHANNEL=
CLIENT_ID=
GUILD_ID=
OWNER_ID=
COMMAND_SCOPE=
NODE_ENV=
DEFAULT_PREFIX=
LOG_LEVEL=
